* {
    margin: 0;
    padding: 0;
    padding-top: 3px;
    font-family: "roboto";
    box-sizing: border-box;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 100vh;
    position: relative;
    background-size: cover;
}

.main .box1 {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.77;
    position: absolute;
    top: 0;
    z-index: 1;

}


nav {
    display: flex;
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    color: rgb(205, 13, 13);
    width: 120px;
    position: relative;
    z-index: 5;
}

nav button {
    position: relative;
    z-index: 10;
}
.btn-eng{
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;
    border:  solid 1px rgb(99, 96, 96);
  padding: 4px 25px;
    font-size: 2;
    cursor: pointer;
}

.hero {
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    color: white;
    font-family: sans-serif;
    gap: 23px;
    padding: 0 30px;

}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0%;
}

.hero> :nth-child(1) {
    font-size: 56px;
    font-weight: 900;
    text-align: center;

}

.hero> :nth-child(2) {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 16px;
    font-weight: 400px;
    text-align: center;
}

.separation {
    height: 9px;
    background-color: red;
}

.language-select {
    display: inline-flex;
    align-items: center;
    padding: 8px 33px;
    font-weight: bolder;
    background-color: rgba(27, 27, 27, 0.7);
    cursor: pointer;
    color: white;
    font-size: 15px;
    border: solid gray;
    border-width: 1px;
    border-radius: 4px;
    margin: 5px;
    line-height: 15px;
    height: auto;
    min-width: 60px;
}
.lang-icon{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.btn-red {
    background-color: red;
    padding: 19px 50px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: 500;
  
    font-size: 24px;
    transition: background-color 0.3s,
        transform 0.1s;
}

.btn-red:hover {
    background-color: rgb(183, 4, 4);
}

.btn-red-sm {
    background-color: red;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s,
        transform 0.1a;
}

.btn-red-sm:hover {
    background-color: rgb(183, 4, 4);
}

.main input {
    padding: 16px 53px;
    background-color: rgba(20, 20, 20, 0.7);
    font-weight: 400;
    border: solid rgb(99, 96, 96);

    border-radius: 4px;
    font-size: 18px;
    border-width: 1px;

}

.first {
    background-color: black;
    height: 100%;
    width: 100%;
}

h2 {
    margin: 20px;
    color: white;
    padding: 50px 130px;
}

.slider {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    list-style: none;
    -ms-overflow-style: none;
    /* scroll-margin-inline-start: 2.5em; */
    scroll-snap-type: x mandatory;
    gap: 50px;
    margin: 0 150px;
    padding: 0 20px;
    counter-reset: movienum;
}

.slider::-webkit-scrollbar {
    display: none;
}

.card {
    flex: 0 0 auto;
    height: 300px;
    width: 200px;
    border-radius: 10px;
    overflow: visible;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease,
        box-shadow 0.3s ease;
    counter-increment: movienum;
}




.card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);

}


.card img {
    border-radius: 9px;
    display: block;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
    height: 100%;
    top: -100px;
    overflow: visible;
}


.card::before {
    content: counter(movienum);
    position: relative;
    color: black;
    font-family: "arial black", "poppins", sans-serif;
    line-height: 100px;
    overflow: visible;
    bottom: -190px;
    left: -30px;
    font-size: 100px;
    z-index: 3;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
}

.curve-separation {
   margin: -100px;
   margin-top: -20px;
   
    position: relative;
    /* top: 0; */
    border: solid .25rem transparent;
    align-items: center;
    /* -webkit-box-align: center; */
   
    /* box-sizing: border-box; */
    border-bottom: none;
    z-index: 1;
    /* margin: auto; */
    /* background-clip: padding-box; */
    background: radial-gradient(50% 500% at 50% -420%, rgb(61 93 224 / 40%) 80%, rgba(0, 0, 0, 0.1) 100%)black;
    height: 80px;
    clip-path: ellipse(70% 100% at 50% 100%);
}

.curve-separation::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -100px;
    margin-top: -4px;
    /* border-radius: inherit; */
    clip-path: ellipse(70% 100% at 50% 100%);
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 90%);
    height: 5px;
}




.slider-container {
    position: relative;
    height: 60vh;
    width: 100%;
    overflow: visible;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.slider-container::-webkit-scrollbar {
    display: none;
}

.slider-container a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
    z-index: 2;
    height: auto;
    overflow: visible;

}

.prev {
    left: 10px
}

.next {
    right: 10px
}

section.first-second {
    height: 50vh;
    width: 100%;
    background-color: black;
    color: white;
    position: relative;
    align-items: stretch;
}

.first-second h3 {
    font-size: 24px;
    font-style: bolder;
    padding-left: 5px;
    display: flex;
    padding: 0px 150px;
    /* justify-content: center; */
    /* align-items: center; */

}

.first-second h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;

}

.first-second p {
    margin: 0;
    line-height: 1.4;
    font-size: 18px;
    font-weight: 500;

    padding: 12px 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    color: rgb(204, 203, 203);
}

.reasons-container {
    background-color: black;
    height: 60vh;
    padding: 12px 180px;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
    overflow: visible;
    flex: 1;
    /* align-items: stretch; */


}

.reason-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at bottom right, #2d101e, #222343 60%);
    color: #fff;
    height: 280px;
    width: 200px;
    padding: 20px 15px 0px 10px;
    border-radius: 18px;

}


svg:not(:root) {
    overflow-clip-margin: content-box;
}

.first-second svg {
    right: 2px;
    bottom: 2px;
}



section.faq {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    font-weight: bolder;
    padding: 34px 170px 34px 170px;
    font-size: 24px;
    overflow: visible;
    /* min-height: 100px; */
    position: relative;
    /* clear: both; */
    /* z-index: 1; */
    top: 20px;
    margin-top: 60px;
    box-sizing: border-box;
}

section.faq h5 {
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 1.6rem;
    background-color: black;

}

.faqbox:hover {
    background-color: #414141;
}

div.faqbox {
    background-color: #2d2d2d;
    height: 80px;
    color: white;
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    font-size: 24px;
}

.ready-text {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 100px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 30px;
}

.input-box {
    display: flex;
    justify-content: center;
    padding: 0px;
    gap: 5px;
    margin-top: -30px;
}

.input-box input {
    /* max-width: auto; */
    flex: 1;
    padding: 15px 17px;
    /* padding: 0px 12px; */
    border: rgb(88, 87, 87) solid 1px;
    background-color: rgba(26, 26, 26, 0.7);
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 500px;
    border-radius: 3px;

}

.input-box input::placeholder {
    color: rgb(181, 178, 178);
    font-size: 19px;
    font-weight: 500;
}

.input-box input:focus {
    border: 2px solid white;
    outline: none;
}

.input-box button {
    background-color: rgb(219, 5, 5);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding: 1px 50px;
    transition: background-color 0.3s,
        transform 0.1s;
}

.input-box button:hover {
    background-color: rgb(183, 4, 4);

}

footer {
    color: white;
height: auto;
   max-width: 75vw;
    padding: 12px 0px;
    font-size: 16px;
      margin-left: 170px;
}

.questions p{
    padding: 30px 0px 40px 0px;
    font-size: 18px;
    font-weight: 400;
    color: rgb(178, 176, 176);
   }
   .underline{
    border-bottom: 1px solid rgb(174, 172, 172);
    display: inline-block;
    line-height: 1;
    margin-bottom: -2px;
    
   }

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   color: white;
  }
  .footer a{
    color: white;
   
  }
.footer-item{
    display: flex;
   flex-direction: column;
  gap: 14px;
  font-size: 15px;
  
}
.footer-item a{
    color: rgb(178, 176, 176);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    gap: 14px;
}
button.lang-btn{
    margin-top: 50px;
    padding: 9px 1px;
    background-color: transparent;
    border: 1px solid rgb(178, 176, 176);
    border-radius: 3px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    line-height: 20px;
    width: 120px;
    display: flex;
    text-align: center;
    justify-content: center;
}
 .netflix-India{
    margin-top: 50px;
    font-size: 15px;
    font-weight: 400;
    color: rgb(178, 176, 176);

}
.page{
    margin-top: 50px;
    font-size: 14px;
    color: gray;
    white-space: nowrap;
}
.default{
    display: flex;
    align-items: end;
    justify-content: end;
}
